/*
 * SIDE-BAR
 */

#sidebar-wrapper {
  margin-left: -220px;
  width: 220px;
  top: 0;
  background: #30426a;
  left: 220px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 18px;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.sidebar .sidebar-header {
  height: 50px;
}

ul.sidebar .sidebar-header a {
  font-size: 18px;
  line-height: 50px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 13px;
  height: 30px;
  margin-top: 10px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

ul.sidebar .sidebar-title .icon-new-channel {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  color: #738bc0;
  float: right;
  width: auto;
  padding-right: 15px;
  display: inline-block;
}

ul.sidebar .sidebar-title .icon-new-channel:hover,
ul.sidebar .sidebar-title .icon-new-channel:active {
  color: white;
}

ul.sidebar .sidebar-list {
  height: 30px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 30px;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  text-align: left;
}

.channel-hashtag {
  color: #8792a8;
  padding-right: 2px;
  font-weight: 300;
}

ul.sidebar a > .presence_icon {
  padding: 0;
  width: 8px;
  display: inline-block !important;
  font-size: 10px;
  margin-left: -25px;
  text-align: left;
  vertical-align: middle;
}

ul.sidebar a .im-title {
  margin-left: 30px;
}

#page-wrapper ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .active > a,
ul.sidebar .sidebar-header a {
  background: #253756 !important;
  color: #ffffff;
}

/*
 * Sidemenu -- Footer
 */

.sidebar-footer {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 220px;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  color: #ffffff;
}

.sidebar-footer .current-user-name {
  display: inline-block;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 20px;
}

.sidebar-footer .current-user-status {
  display: block;
  margin-left: 30px;
  font-weight: 200;
  letter-spacing: 1px;
  color: #53eb82;
}

.current-user-toggle .dropdown-toggle {
  background: none;
  border: none;
  margin-left: 10px;
}

.current-user-toggle .dropdown-menu {
  position: fixed;
  bottom: 70px;
  left: 15px;
  width: 200px;
  background-color: #ffffff;
  opacity: 0.98;
  overflow: scroll;
  z-index: 1000 !important;
}

.current-user-toggle .dropdown-menu li a:hover {
  background: #30426A;
  color: #ffffff;
}

/*
 * Header
 */

.row.header {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 50px;
  width: 100%;
  min-width: 500px;
  background: #F3F3F3;
  line-height: 50px;
  font-size: 22px;
  padding-left: 20px;
  overflow: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.header .page-title {
  z-index: 1001;
}

.header .page-title span {
  color: #7b7b7b;
}

/*
 * Search Container
 */

.search-wrapper {
  width: 200px;
  margin: auto;
  vertical-align: text-bottom;
}

.search-container {
  position: absolute;
  top: 0;
  margin-right: 20px;
  right: 0;
  z-index: 500;
}

.search-container .search-input {
  border: 1px solid #808080;
  min-width: 200px;
  line-height: 15px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  vertical-align: text-bottom;
}

.search-container .search-input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #b0e0ee;
  border: 2px solid #bebede;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: text-bottom;
  outline: 0;
  cursor: pointer;
}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #dcdfeb;
  z-index: 1;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #65e563;
  cursor: pointer;
}

.search-input:not(:valid) ~ .close-icon {
  display: none;
}

.search-container a > .fa {
  float: right;
  margin-top: 8px;
  padding: 10px 12px;
  font-size: 22px;
  line-height: 10px;
  border: 1px solid #808080;
  border-radius: 200px;
  color: #000000;
}

.search-container a > .fa:hover,
.search-container a > .fa:active {
  color: #4685dd;
  border: 1px solid #4685dd;
}

.redfamily {
  color: red;
}

.search-box, .close-icon, .search-wrapper {
  position: relative;
  padding: 10px;
}

.search-wrapperX {
  width: 500px;
  margin: auto;
  margin-top: 50px;
}

.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}

.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

.close-iconX {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-iconX:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}
