/*
 * GLOBALS
 */
html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: #FFFFFF;
  color: #333 !important;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

a,
a:hover,
a:active {
  text-decoration: none;
  background: 0 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

button,
button:active,
button:focus {
  outline: none !important;
}

/*
 * FULL PAGE
 */
.page-wrapper {
  height: 100%;
  padding-left: 220px;
  overflow-y: auto;
}

/*
 * SIDE-BAR
 */
#sidebar-wrapper {
  margin-left: -220px;
  width: 220px;
  top: 0;
  background: #30426a;
  left: 220px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 18px;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.sidebar .sidebar-header {
  height: 50px;
}

ul.sidebar .sidebar-header a {
  font-size: 18px;
  line-height: 50px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 13px;
  height: 30px;
  margin-top: 10px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

ul.sidebar .sidebar-title .icon-new-channel {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  color: #738bc0;
  float: right;
  width: auto;
  padding-right: 15px;
  display: inline-block;
}

ul.sidebar .sidebar-title .icon-new-channel:hover,
ul.sidebar .sidebar-title .icon-new-channel:active {
  color: white;
}

ul.sidebar .sidebar-list {
  height: 30px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 30px;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  text-align: left;
}

.channel-hashtag {
  color: #8792a8;
  padding-right: 2px;
  font-weight: 300;
}

ul.sidebar a > .presence_icon {
  padding: 0;
  width: 8px;
  display: inline-block !important;
  font-size: 12px;
  margin-left: -25px;
  text-align: left;
  vertical-align: middle;
}

ul.sidebar a .im-title {
  margin-left: 30px;
}

#page-wrapper ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .active > a,
ul.sidebar .sidebar-header a {
  background: #253756 !important;
  color: #ffffff;
}

/*
 * SIDE-BAR -- Footer
 */
.sidebar-footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  width: 220px;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  color: #ffffff;
}

.current-user-avatar {
  position: absolute;
  top: 7px;
  left: 10px;
  margin-top: 4px;
  border-radius: 4px;
  display: inline;
  float: left;
  width: 40px;
  height: 40px;
}

.sidebar-footer .current-user-name {
  display: inline-block;
  position: absolute;
  left: 27px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top: 8px;
}

.sidebar-footer .current-user-status {
  position: absolute;
  padding-top: 32px;
  margin-left: 62px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #8ccb98;
}

.current-user-toggle .dropdown-toggle {
  background: none;
  border: none;
  padding-top: 0px;
  margin-left: 190px;
  vertical-align: text-bottom;
}

.current-user-toggle .dropdown-menu {
  bottom: 50px;
  left: 10px;
  width: 200px;
  background-color: #ffffff;
  opacity: 0.98;
  overflow: scroll;
  z-index: 1000 !important;
}

.current-user-toggle .dropdown-menu li a:hover {
  background: #30426A;
  color: #ffffff;
}

/*
 * Header
 */
.row.header {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  line-height: 50px;
  height: 50px;
  width: 100%;
  background: #f4f4f4;
  overflow: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.header-title {
  float: left;
  height: 50px;
  width: 50%;
  vertical-align: text-bottom;
}

.page-title {
  font-family: Lato, sans-serif;
  font-size: 22px;
}

.page-title-icon {
  color: #aeaeae;
  font-family: Lato, sans-serif;
  font-size: 22px;
}

.page-title-active {
  color: #8bdc8c;
  font-size: 15px;
}

/*
 * Search Container
 */

.header-search {
  padding: 0px;
  float: left;
  height: 50px;
  width: 20%;
  vertical-align: text-bottom;
}

.search-wrapper {
  padding: 0px;
  width: 200px;

  height: 50px;
  vertical-align: text-bottom;
}

.search-input {
  border: 1px solid #808080;
  min-width: 200px;
  line-height: 15px;
  margin-top: 0px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  vertical-align: text-bottom;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #b0e0ee;
  border: 2px solid #bebede;
}

.close-icon {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline;
  vertical-align: text-bottom;
  outline: 0;
  cursor: pointer;

}

.close-icon:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #dcdfeb;
  z-index: 1;
  right: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #65e563;
  cursor: pointer;
}

.search-input:not(:valid) ~ .close-icon {
  display: none;
}

.search-container a > .fa {
  float: right;
  margin-top: 8px;
  padding: 10px 12px;
  font-size: 22px;
  line-height: 10px;
  border: 1px solid #808080;
  border-radius: 200px;
  color: #000000;
}

.search-container a > .fa:hover,
.search-container a > .fa:active {
  color: #4685dd;
  border: 1px solid #4685dd;
}

.search-box, .close-icon, .search-wrapper {
  position: relative;
  padding: 10px;
}

.search-box {
  width: 80%;
  border: 1px solid #ccc;
  outline: 0;
  border-radius: 15px;
}

.search-box:focus {
  box-shadow: 0 0 15px 5px #b0e0ee;
  border: 2px solid #bebede;
}

.close-iconX {
  border: 1px solid transparent;
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
}

.close-iconX:after {
  content: "X";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #FA9595;
  z-index: 1;
  right: 35px;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 12px;
  box-shadow: 0 0 2px #E50F0F;
  cursor: pointer;
}

.search-box:not(:valid) ~ .close-icon {
  display: none;
}

/*
 * SEARCH --> DRAWER
 */
.drawer-container {
  position: absolute;
  height: calc(100% - 60px);
  top: 60px;
  bottom: 80px;
  width: 400px;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-left: 1px solid #EEEEEE;
}

.fa-drawer-open {
}

.drawer-open {
  width: calc(100% - 400px - 220px) !important;
}

.input-drawer-open {
  width: calc(100% - 400px) !important;
}

/*
 * Content
 */
.content-wrapper {
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  width: calc(100% - 220px);
  right: 0;
  left: 220px;
  margin-top: 50px;
  margin-bottom: 80px;
  height: calc(100% - 120px);
  box-sizing: border-box;
  overflow-y: scroll;
}

/*
 * Messages
 */
.message-container {
  padding: 10px;
  z-index: -1;
}

.message-group {
  display: block;
  padding: 4px 32px 2px 48px;
  color: #000000;
}

.message-group.show-user {
  margin-top: 12px;
}

.message-group.show-user .message-content {
  margin-top: -1px;
}

.message-group:hover.show-user .message-ts-hover {
  display: none;
}

a.message-sender {
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #000000;
}

.message-ts {
  margin-left: 5px;
  color: #C0C0C4;
  font-size: 12px;
  font-weight: 300;
}

.message-content {
  display: block;
  width: inherit;
}

.message-avatar {
  position: absolute;
  left: 25px;
  margin-top: 4px;
  border-radius: 4px;
  display: inline;
  float: left;
  width: 34px;
  height: 34px;
}

.message-group:hover .message-ts-hover {
  display: inline-block;
}

.message-text {
  display: inline-block;
  color: #3a3a3a;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px
}

.message-ts-hover {
  display: none;
  position: absolute;
  left: 20px;
  width: 36px;
  margin-top: 4px;
  color: #C0C0C4;
  font-size: 12px;
  font-weight: 300;
}

/*
 * Textfield
 */
.textfield-footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  left: 220px;
  right: 0;
  margin: 0 24px;
  z-index: 10;
  background: #FFFFFF;
}

.textfield-footer .input-textarea {
  position: absolute;
  padding: 9px 30px 9px 8px;
  font-size: 15px;
  line-height: 19px;
  max-height: 160px;
  height: 38px;
  bottom: 25px;
  min-height: 41px !important;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
  overflow-y: hidden;
  resize: none !important;
}

.textfield-footer .input-textarea:focus,
.textfield-footer .input-textarea:active {
  outline: none;
}

.isTyping {
  position: absolute;
  bottom: 8px;
  color: #929292;
  font-size: 12px;
  font-style: italic;
}

.isType-name {
  font-weight: 900;
}

.message-divider {
  border-top: 1px solid #efefef
}
