/*
 * GLOBALS
 */
html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: #FFFFFF;
  color: #333 !important;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

a,
a:hover,
a:active {
  text-decoration: none;
  background: 0 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

button,
button:active,
button:focus {
  outline: none !important;
}

/*
 * FULL PAGE
 */
.page-wrapper {
  height: 100%;
  padding-left: 220px;
  overflow-y: auto;
}

/*
 * SIDE-BAR
 */
#sidebar-wrapper {
  margin-left: -220px;
  width: 220px;
  top: 0;
  background: #30426a;
  left: 220px;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 18px;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.sidebar .sidebar-header {
  height: 50px;
}

ul.sidebar .sidebar-header a {
  font-size: 18px;
  line-height: 50px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 13px;
  height: 30px;
  margin-top: 10px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

ul.sidebar .sidebar-title .icon-new-channel {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  color: #738bc0;
  float: right;
  width: auto;
  padding-right: 15px;
  display: inline-block;
}

ul.sidebar .sidebar-title .icon-new-channel:hover,
ul.sidebar .sidebar-title .icon-new-channel:active {
  color: white;
}

ul.sidebar .sidebar-list {
  height: 30px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 30px;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  text-align: left;
}

.channel-hashtag {
  color: #8792a8;
  padding-right: 2px;
  font-weight: 300;
}

ul.sidebar a > .presence_icon {
  padding: 0;
  width: 8px;
  display: inline-block !important;
  font-size: 12px;
  margin-left: -25px;
  text-align: left;
  vertical-align: middle;
}

ul.sidebar a .im-title {
  margin-left: 30px;
}

#page-wrapper ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .active > a,
ul.sidebar .sidebar-header a {
  background: #253756 !important;
  color: #ffffff;
}

/*
 * SIDE-BAR -- Footer
 */
.sidebar-footer {
  position: absolute;
  float: left;
  padding: 10px 0 10px 8px;
  bottom: 0;
  height: 66px;
  width: 220px;
  transition: all .6s ease 0s;
  color: #ffffff;
}

.current-user-avatar {
  border-radius: 4px;
  margin: 0 10px 0 0;
  display: block;
  float: left;
  width: 48px;
  height: 48px;
}

.sidebar-footer .current-user-name {
  margin-top: 5px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.sidebar-footer .current-user-status {
  display: block;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #8ccb98;
}

.current-user-toggle {
  display: block;
  float: right;
  bottom: 38px;
  right: 16px;
  color: #738bc0;
  box-shadow: none;
}

.current-user-toggle:hover,
.current-user-toggle:active {
  color: white;
  box-shadow: none;
}

.btn-group.open .dropdown-toggle {
  color: white;
  box-shadow: none;
}

.current-user-toggle .dropdown-toggle {
  bottom: 20px;
  float: right;
  font-size: 16px;
  background: none;
  border: none;
}

.current-user-toggle .dropdown-menu {
  bottom: 50px;
  left: -160px;
  width: 200px;
  background-color: #ffffff;
  overflow: scroll;
  z-index: 1000 !important;
}

.current-user-toggle .dropdown-menu li a:hover {
  background: #30426A;
  color: #ffffff;
}

/*
 * Header
 */

.row.header {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  line-height: 50px;
  height: 50px;
  width: 100%;
  background: #f4f4f4;
  overflow: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.header-title {
  float: left;
  height: 50px;
  width: 40%;
  margin-left: 20px;
  vertical-align: text-bottom;
}

.page-title {
  font-family: Lato, sans-serif;
  font-size: 22px;
}

.page-title-icon {
  color: #aeaeae;
  font-family: Lato, sans-serif;
  font-size: 22px;
}

.page-title-active {
  color: #8bdc8c;
  font-size: 15px;
}

/*
 * Search Container
 */

.header-group {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 999;
}

.header-search {
  float: left;
  height: 50px;
  vertical-align: text-bottom;
}

.search-wrapper {
  display: inline;
  padding: 8px;
  width: 180px;
  height: 50px;
}

.search-input {
  border: 1px solid #a7a7a7;
  min-width: 280px;
  line-height: 20px;
  margin-top: 0px;
  margin-right: 10px;
  border-radius: 6px;
  padding: 5px 15px;
  vertical-align: text-bottom;
}

.search-input:focus,
.search-input:active {
  outline: none;
  border: 1px solid #2b3e62;
}

.drawer-toggle {
  padding: 0;
  float: right;
  vertical-align: text-bottom;
}

.drawer-toggle .drawer-toggle-open {
  border: 1px solid #2b3e62;
  color: #2b3e62
}

.drawer-icon {
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  border: 1px solid #a7a7a7;
  color: #8d8d8d;
}

.drawer-icon:hover {
  border: 1px solid #2b3e62;
  color: #2b3e62;
}

.fa-drawer-open {
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: #fdfdfd;
  border: 1px solid #a7a7a7;
}

/*
 * SEARCH --> DRAWER
 */

.drawer-container {
  position: absolute;
  height: calc(100% - 60px);
  top: 60px;
  bottom: 80px;
  width: 400px;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-left: 1px solid #EEEEEE;
}

.drawer-open {
  width: calc(100% - 400px - 220px) !important;
}

.input-drawer-open {
  width: calc(100% - 400px) !important;
}

/*
 * Content
 */
.content-wrapper {
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  width: calc(100% - 220px);
  right: 0;
  left: 220px;
  margin-top: 50px;
  margin-bottom: 80px;
  height: calc(100% - 120px);
  box-sizing: border-box;
  overflow-y: scroll;
}

/*
 * Messages
 */
.message-container {
  padding: 10px;
  z-index: -1;
}

.message-group {
  display: block;
  padding: 4px 32px 2px 48px;
  color: #000000;
}

.message-group.show-user {
  margin-top: 12px;
}

.message-group.show-user .message-content {
  margin-top: -1px;
}

.message-group:hover.show-user .message-ts-hover {
  display: none;
}

a.message-sender {
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #000000;
}

.message-ts {
  margin-left: 5px;
  color: #C0C0C4;
  font-size: 12px;
  font-weight: 300;
}

.message-content {
  display: block;
  width: inherit;
}

.message-avatar {
  position: absolute;
  left: 25px;
  margin-top: 4px;
  border-radius: 4px;
  display: inline;
  float: left;
  width: 34px;
  height: 34px;
}

.message-group:hover .message-ts-hover {
  display: inline-block;
}

.message-text {
  display: inline-block;
  color: #3a3a3a;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px
}

.message-ts-hover {
  display: none;
  position: absolute;
  left: 20px;
  width: 36px;
  margin-top: 4px;
  color: #C0C0C4;
  font-size: 12px;
  font-weight: 300;
}

/*
 * Textfield
 */
.textfield-footer {
  position: fixed;
  height: 70px;
  bottom: 0;
  left: 220px;
  right: 0;
  margin: 0 24px;
  z-index: 10;
  background: #FFFFFF;
}

.textfield-footer .input-textarea {
  position: absolute;
  padding: 9px 30px 9px 8px;
  font-size: 15px;
  line-height: 19px;
  max-height: 160px;
  height: 38px;
  bottom: 25px;
  min-height: 41px !important;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
  overflow-y: hidden;
  resize: none !important;
}

.textfield-footer .input-textarea:focus,
.textfield-footer .input-textarea:active {
  outline: none;
}

.isTyping {
  position: absolute;
  bottom: 8px;
  color: #929292;
  font-size: 12px;
  font-style: italic;
}

.isType-name {
  font-weight: 900;
}

.message-divider {
  border-top: 1px solid #efefef
}
