.login-page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #30426A;
}

.login-page .container {
  margin-top: 140px;
}

.login-page .login-title {
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 2px;
  text-align: center;
}

.login-page .panel {
  border-color: #30426A;
}

.login-page .panel-title {
  text-align: center;
  font-size: 20px;
}

.login-page .btn {}
