<ul class="dropdown-menu scrollable-menu" style="display:block">
  <li mentio-menu-item="item" ng-repeat="item in items track by $index">
    <a class="text-primary" ng-bind-html="item.label | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></a>
  </li>
</ul>

<div class="textfield-footer">
  <textarea
    class="input-textarea"
    ng-model="value"
    ng-class="ngClass"
    autocorrect="off"
    autocomplete="off"
    spellcheck="true"></textarea>
  <span class="isTyping" ng-if="isTyping"><span class="isType-name">{{userTyping.name}}</span> is typing ...</span>
</div>

<style>
  .scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow: auto;
  }
  .menu-highlighted {
    font-weight: bold;
  }
</style>
