<div class="row header">
  <div class="col-xs-12">
    <div class="meta">
      <div class="page-title">
        # {{channelName}}
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper" scroll-glue="scrollDown" ng-class="{'drawer-open': drawerOpen}">
  <div class="row">
    <div class="col-xs-12">
      <div class="channel-header">
        <h3># {{channelName}}</h3>

        <p>This is the very beginning of the <em>#{{thisChannel.name}}</em> channel, which you created {{thisChannel.created | date:'shortDate'}}</p>
        <hr>
      </div>

      <div class="message-content">
        <div class="message-group" ng-repeat="msg in messages">
          <a class="message-sender">{{msg.user}}</a>
          <span class="message-ts">{{msg.ts | date:'shortTime'}}</span>
          <a class="message-text">{{msg.text}}</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="textfield-footer" >
  <div>
    <form ng-submit="sendMessage(inputText)">
      <input ng-model="inputText" ng-change="setTyping()" ng-class="{'input-drawer-open': drawerOpen}">
    </form>
    <span class="isTyping" ng-if="isTyping"><span class="isType-name">{{userTyping.name}}</span> is typing ...</span>
  </div>
</div>
