<div class="page-wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main"><a>Exports.io</a></li>

      <li class="sidebar-title"><span>Channels</span></li>
      <li class="sidebar-list" ng-repeat="channel in channels">
        <a ui-sref="index.channel({ channelName : {{channel.name}} })"># {{channel.name}}</a>
      </li>

      <li class="sidebar-title"><span>Direct Messages</span></li>
      <li class="sidebar-list" ng-repeat="user in users">
        <a href="#"><i class="fa fa-circle presence_icon" ng-class="{connected: 'icon-green'}"></i><span>{{user.name}}</span></a>
      </li>

      <li class="sidebar-title"><span>Private Groups</span></li>
      <li class="sidebar-list"><a href="#">Senior Executives</a></li>
      <li class="sidebar-list"><a href="#/tables">Trustees</a></li>
    </ul>

    <div class="sidebar-footer">
      <div class="current-user">
        <!--<img class="current-user-avatar">-->
        <span class="current-user-name">{{currentUser.name}}</span>
        <span class="current-user-status">online</span>
      </div>
    </div>
  </div>


  <div ui-view=""></div>
  <!--
  <div id="content-wrapper" scroll-glue="scrollDown">
    <div class="row">
      <div class="col-xs-12">
        <div class="message-content">
          <div class="message-group" ng-repeat="msg in messages">
            <a class="message-sender">{{msg.user}}</a>
            <span class="message-ts">{{msg.ts | date:'shortTime'}}</span>
            <a class="message-text">{{msg.text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="textfield-footer">
    <div>
      <form ng-submit="sendMessage(inputText)">
        <input ng-model="inputText" ng-change="setTyping()">
      </form>
      <span class="isTyping" ng-if="isTyping"><span class="isType-name">{{userTyping.name}}</span> is typing ...</span>
    </div>
  </div>


</div>
