/*
 * GLOBALS
 */

html {
  height: 100%;
}

body {
  background: #FFFFFF;
  color: #333 !important;
  height: 100%;
  overflow: hidden;
}

a,
a:hover,
a:active {
  text-decoration: none;
  background: 0 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
 * FULL PAGE
 */

.page-wrapper {
  height: 100%;
  padding-left: 250px;
  overflow-y: auto;
}

/*
 * SIDE-BAR
 */

#sidebar-wrapper {
  margin-left: -250px;
  width: 250px;
  top: 0;
  background: #30426a;
  left: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.sidebar .sidebar-main {
  height: 65px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

ul.sidebar .sidebar-list {
  height: 30px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 30px;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 250px;
  text-align: left;
}

ul.sidebar .sidebar-main a {
  font-size: 18px;
  line-height: 60px;
}

ul.sidebar a > .presence_icon {
  padding: 0;
  width: 8px;
  display: inline-block !important;
  font-size: 10px;
  margin-left: -25px;
  text-align: left;
  vertical-align: middle;
}

ul.sidebar a span {
  margin-left: 30px;
}

#page-wrapper ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-main a {
  background: #2d3e63;
}

/*
 * Sidemenu -- Footer
 */

.sidebar-footer {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  color: #ffffff;
}

.sidebar-footer .current-user-name {
  display: block;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 10px;
}

.sidebar-footer .current-user-status {
  display: block;
  margin-left: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #53eb82;
}

/*
 * Header
 */

.row.header {
  position: fixed;
  top: 0;
  left: 250px;
  right: 0;
  height: 60px;
  width: 100%;
  background: #F3F3F3;
  z-index: 100;
  line-height: 60px;
  font-size: 22px;
  padding-left: 20px;
  overflow: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*
 * Content
 */

#content-wrapper {
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  width: calc(100% - 250px);
  right: 0;
  left: 250px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: calc(100% - 140px);
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 100;
}

/*
 * Messages
 */

.message-content {
  padding: 10px 20px 10px 20px;
}

.message-group {
  display: block;
  padding: 10px 0;
  color: #000000;
}

a.message-sender {
  font-weight: bold;
  color: #000000;
}

.message-ts {
  color: #a2a3a7;
  font-size: 12px;
  font-weight: lighter;
}

.message-text {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px
}

/*
 * Textfield
 */

.textfield-footer {
  position: fixed;
  height: 80px;
  bottom: 0;
  padding: 0px;
  left: 250px;
  right: 0px;
  z-index: 50;
  background: #FFFFFF;
}

.textfield-footer > div {
  margin: 10px 20px;
}

.textfield-footer input {
  position: relative;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
  overflow: hidden;
}

.textfield-footer input:focus,
.textfield-footer input:active {
  outline: none;
}

.isTyping {
  color: #929292;
  font-size: 12px;
  font-style: italic;
}

.isType-name {
  font-weight: bolder;
}
