<div class="page-wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-main"><a>Exports.io</a></li>

      <li class="sidebar-title"><span>Channels</span></li>
      <li class="sidebar-list" ng-repeat="channel in channels">
        <a ng-click="switchChannel(channel)"># {{channel.name}}</a>
      </li>

      <li><br></li>
      <li class="sidebar-title"><span>Direct Messages</span></li>
      <li class="sidebar-list" ng-repeat="user in users">
        <a href="#"><i class="fa fa-circle presence_icon" ng-class="{connected: 'icon-green'}"></i><span>{{user.name}}</span></a>
      </li>
      <li><br></li>
      <li class="sidebar-title"><span>Private Groups</span></li>
      <li class="sidebar-list"><a href="#">Senior Executives</a></li>
      <li class="sidebar-list"><a href="#/tables">Trustees</a></li>
    </ul>

    <div class="sidebar-footer">
      <div class="current-user">
        <!--<img class="current-user-avatar">-->
        <span class="current-user-name">{{currentUser.name}}</span>
        <span class="current-user-status">online</span>
      </div>
    </div>
  </div>


  <div ui-view="content"></div>





</div>
