/*
 * GLOBALS
 */

html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  background: #FFFFFF;
  color: #333 !important;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

a,
a:hover,
a:active {
  text-decoration: none;
  background: 0 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

button,
button:active,
button:focus {
  outline: none !important;
}

/*
 * FULL PAGE
 */

.page-wrapper {
  height: 100%;
  padding-left: 250px;
  overflow-y: auto;
}

/*
 * SIDE-BAR
 */

#sidebar-wrapper {
  margin-left: -220px;
  width: 220px;
  top: 0;
  background: #30426a;
  left: 220px;
  position: fixed;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}

ul.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-indent: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ul.sidebar .sidebar-header {
  height: 50px;
}

ul.sidebar .sidebar-header a {
  font-size: 18px;
  line-height: 50px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
  transition: all .6s ease 0s;
}

ul.sidebar .sidebar-title .icon-new-channel {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  color: #738bc0;
  float: right;
  width: auto;
  padding-right: 15px;
  display: inline-block;
}

ul.sidebar .sidebar-title .icon-new-channel:hover,
ul.sidebar .sidebar-title .icon-new-channel:active {
  color: white;
}

ul.sidebar .sidebar-list {
  height: 30px;
}

ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 30px;
}

ul.sidebar li a {
  color: #fff;
  display: block;
  float: left;
  text-decoration: none;
  width: 220px;
  text-align: left;
}

ul.sidebar a > .presence_icon {
  padding: 0;
  width: 8px;
  display: inline-block !important;
  font-size: 10px;
  margin-left: -25px;
  text-align: left;
  vertical-align: middle;
}

ul.sidebar a span {
  margin-left: 30px;
}

#page-wrapper ul.sidebar .sidebar-title.separator,
.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .active > a,
ul.sidebar .sidebar-header a {
  background: #253756 !important;
  color: #ffffff;
}

/*
 * Sidemenu -- Footer
 */

.sidebar-footer {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all .6s ease 0s;
  color: #ffffff;
}

.sidebar-footer .current-user-name {
  display: block;
  margin-left: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 20px;
}

.sidebar-footer .current-user-status {
  display: block;
  margin-left: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #53eb82;
}

/*
 * Header
 */

.row.header {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 50px;
  width: 100%;
  min-width: 500px;
  background: #F3F3F3;
  z-index: 100;
  line-height: 50px;
  font-size: 22px;
  padding-left: 20px;
  overflow: hidden;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.header .page-title {
  z-index: 1001;
}

/*
 * Content
 */

.search-container {
  position: absolute;
  top: 0;
  margin-right: 20px;
  right: 0;
  z-index: 900;
}

.search-container .search-input {
  border: 1px solid #808080;
  min-width: 200px;
  line-height: 15px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 15px;
  padding: 5px 10px;
  vertical-align: text-bottom;
}

.search-container .search-input:focus {
  outline: none;
}

.search-container a > .fa {
  float: right;
  margin-top: 8px;
  padding: 10px 12px;
  font-size: 22px;
  line-height: 10px;
  border: 1px solid #808080;
  border-radius: 200px;
  color: #000000;
}

.search-container a > .fa:hover,
.search-container a > .fa:active {
  color: #4685dd;
  border: 1px solid #4685dd;
}

/*
 * Content
 */

.content-wrapper {
  position: absolute;
  padding-left: 0;
  margin-left: 0;
  width: calc(100% - 220px);
  right: 0;
  left: 220px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: calc(100% - 140px);
  box-sizing: border-box;
  overflow-y: scroll;
  z-index: 100;
}

/*
 * Messages
 */

.message-content {
  padding: 10px 20px;
}

.message-group {
  display: block;
  padding: 5px 0;
  color: #000000;
}

a.message-sender {
  font-weight: bold;
  color: #000000;
}

.message-ts {
  color: #a2a3a7;
  font-size: 12px;
  font-weight: lighter;
}

.message-text {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  line-height: 22px
}

/*
 * Textfield
 */

.textfield-footer {
  position: fixed;
  height: 80px;
  bottom: 0;
  padding: 0px;
  left: 220px;
  min-width: 600px;
  right: 0px;
  z-index: 50;
  background: #FFFFFF;
}

.textfield-footer > div {
  margin: 10px 20px;
}

.textfield-footer input {
  position: relative;
  padding: 5px 10px;
  height: 40px;
  width: 100%;
  border: 2px solid #c5c5c5;
  border-radius: 2px;
  overflow: hidden;
}

.textfield-footer input:focus,
.textfield-footer input:active {
  outline: none;
}

.isTyping {
  color: #929292;
  font-size: 12px;
  font-style: italic;
}

.isType-name {
  font-weight: bolder;
}

.drawer-container {
  position: absolute;
  height: calc(100% - 60px);
  top: 60px;
  bottom: 80px;
  width: 400px;
  right: 0;
  padding: 10px;
  z-index: 100;
  border-left: 1px solid #EEEEEE;
}

.fa-drawer-open {

}

.drawer-open {
  width: calc(100% - 400px - 220px) !important;
}

.input-drawer-open {
  width: calc(100% - 400px) !important;
}
